.grid-stack {
    background: rgb(238, 237, 237);
}

.grid-stack-item-content {
    color: #2c3e50;
    /* text-align: center; */
    background-color: white;
    border:1px solid grey;
    padding: 5px;
}

.grid-stack .grid-stack {
   
    background: rgba(255, 255, 255, 0.3);
}

.grid-stack .grid-stack .grid-stack-item-content {
    padding: 5px;
    background: pink;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    top: 10px;
}

.scenario-grid {
    border:1px solid darkgray;
    padding: 5px; 
}

.scenario-grid-title {
    border-bottom:2px solid grey;
    margin-bottom: 5px;
    font-size: 200%;
    font-weight: bold;
}

.scenario-grid-action {
    cursor:pointer;
    margin-right: 10px;
    margin-left:  10px;
}

.grid-title {
    cursor:grab;
    border-bottom:1px dashed grey;
    margin-bottom: 5px;
    font-weight: bold;
}


.grid-action {
    cursor:pointer;
    margin-right: 5px;
    margin-left:  5px;
}

div .fullscreen {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%; 
    height: 100vh;
    z-index: 1;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  